
<!DOCTYPE html>
<html lang="en">
  <head>


  </head>
  <body>

    <div class="container">
        <a class="weatherwidget-io" href="https://forecast7.com/es/n24d78n65d42/salta/" data-label_1="SALTA" data-label_2="WEATHER" data-theme="original" >SALTA WEATHER</a>
      <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
      </script>

      <a href="javascript:;" class="button" id="add_new">Agregar nota</a>
      <div id="board"></div>
    </div>
    </div>



</div>

  </body>
</html>

<!-- <div calss=container>
  <div class="row">
    <div class="col-3">
    <nav class="nav flex-column">
      <a class="nav-link active" href="#">inicio</a>
      <a class="nav-link" href="/clientes">Clientes</a>
      <a class="nav-link" href="/certificados">Certificaciones</a>
      <a class="nav-link" href="#">Calendario</a>
      <a class="nav-link" href="#">Prox. Fumigaciones</a>
      <a class="nav-link" href="/tecnicos">Fumigadores</a>
    </nav>
    </div>
    </div>
</div>
 -->
